# 23.01.13
# 23.01.13 m
#
# in ~/.gitconfig insert the following lines:
# [include]
#     path = this_path/.gitconfig
#

[user]
	name = sergio
[core]
	editor = vim
[sendemail]
	from = qpyt10 <qpyt10@gmail.com>
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = qpyt10@gmail.com
	smtppass = alhgzmbc
